<p id="notice"><%= notice %></p>

<p>
  <strong>Sitename:</strong>
  <%= @site.sitename %>
</p>

<p>
  <strong>Address:</strong>
  <%= @site.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @site.price %>
</p>

<p>
  <strong>User:</strong>
  <%= @site.user_id %>
</p>
<p>
<div class ="col-md-6"> 
<%= image_tag @site.picture, class: "home-image" %>
</div>
</P>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
